.header-container {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.app-logo {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotation 8s infinite linear;
    text-align: left;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.login-register-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-style: ridge;
}

.login-register-form {
    margin: 20px;
}